.App{
    margin:0px;
}
/* NavBar */
.sitename{
    font-size: 30px;
    font-weight: serif;
    color:rgba(204, 164, 99, 0.753);
}
.navigation{
    background-color: rgb(93, 15, 15);
    position: sticky;
    top: 0;
    z-index: 1;
}
/* Filter */
.search{
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    padding:20px;
    background-image: url("https://pbs.twimg.com/media/DhFogTsX4AEHKjO.jpg");
    height: 150px;
    width:90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    border-radius: 30px;
}
.ratingalign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:30%;
    height:50px;
    background-color: white;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.541);
}
.searchingform{
width:79%;
height:45px;
border:none;
padding:10px;
}
.titlelabel{
    height:50px;
    width:20%;
    background-color:rgba(201, 194, 194, 0.473);
    margin:0;
    padding-top: 10px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.541);
}
.searchingalign{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width:600px;
    border:1px solid rgba(0, 0, 0, 0.541);
}
.ratelabel{
width:40%;
height: 50px;
background-color: rgba(201, 194, 194, 0.473);
margin:0;
padding:0;
border-radius:10px;
padding-top: 10px;
border:1px solid rgba(0, 0, 0, 0.541);
}
.stars{
    margin-right: 10px;
    margin-bottom: 5px;
    border: 0;
}
/* Carousel */
.carousel{
    height:300px;
    width:200px;
    padding:0px 0px 50px 0px;
    margin:20px auto;
    cursor: pointer;
    background-color: white;
}
.carouselsize{
    height:300px;
    width: 1349px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color:rgb(49, 8, 8);
}
.slide{
display: flex;
justify-content: space-around;

}
/* MovieCard */
.Card{
    width:280px;
    height:600px;
    border:1px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    margin:20px auto;
    padding:15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
}
.Card:hover{
    background-color: white;
    box-shadow: 0 15px 15px 0 #d8bb18;
}
.Carddesc{
    display: flex;
    flex-direction: column;
    margin:auto;
}
.title{
    color:rgba(247, 0, 255, 0.527);
    font-size: 20px;
    font-weight: bold;
}
.text{
    font-size: 12px;
    font-weight: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
    width:250px;
    text-align: center;
}
.poster{
    width:250px;
    height:320px;
}
.btnmovie{
    margin:5px auto;
    width:100px;
}
.btns{
    display: flex;
}
.rating{
    margin:auto;
}
/* Movie List */
#ListOfMovies{
display: flex;
flex-wrap: wrap;
background-color: black;
}
/* signin */

.signin{
height: 300px;
border: 1px solid rgba(0, 0, 0, 0.233);
background-color: rgba(90, 90, 90, 0.514);
padding:20px;
}

/* Modal */

.modal2{
     padding:30px; 
     background-color: black;
} 
.modal3{
     margin-top: 10%;
}
.formdescription{
    margin-left:22px;
}
.inputdesc{
    margin-right: 22px;
}
.formposter{
    margin-left:17px;
}
.inputposter{
    margin-right:18px;
}
.formrate{
    margin-right: 0px;
}
.select{
    width:180px;
}
.position{
    display: flex;
    justify-content: space-around;
    margin: 10px auto; 
    width:500px;
}
.form{
    display: flex;
    flex-direction: column;
}
.posteradd{
    display: flex; 
    justify-content: space-around;
}
/* footer */
.footer{
    background-color: rgb(93, 15, 15);
    height:40px;
    margin:auto;
    padding:0;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0;
    width:100%;
}
.footer p{
    font-size: 10px;
    padding:10px;
    color:rgba(204, 164, 99, 0.753);
}